@import "Mixin.scss";
@import "main_style.scss";

.content{
  .shipping_payments{

    .information{
      @include max-screen(570px){
        flex-direction: column;
        margin: auto;
      }
    }

    .list-paragraph{
      @include max-screen(820px){
      margin-left: 80px;
      }
      @include max-screen(570px){
        margin: auto;
      }
    }
      .title{
        color: $bg-color-turquoise;
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        @include max-screen(570px){
          text-align: center;
        }
      }
    .subtitle{
      color: #292d32;
      font-size: 30px;
      font-family: "PT Sans", sans-serif;
      margin-top: 30px;
    }
    .list{
      li{
        color: $bg-color-turquoise;
      }
      span{
        color:#4e555b;
        font-family: "PT Sans", sans-serif;
      }
    }
    .paragraph{
      margin-bottom: 30px;
      color:#4e555b;
      font-family: "PT Sans", sans-serif;
    }
    iframe{
      width: 100%;
      height: 300px;
      margin-bottom: 50px;
    }
  }
}